{% set identifier = item.id %}

<div id="{{ identifier }}" class="col-2 p-1 ">

    {% set priority_style = item.priority ? 'style=border-color:#bb2d3b;border-width:2px;' %}

    <div class="border-bottom border-4 rounded-4 bg-primary border-primary ">
        <div class="card bg-light-primary rounded-4" {{ priority_style }}>

            {% set image_path = '/assets/img/blank.svg' %}
            {% if item.product_image_ext is defined and item.product_image_ext is not null %}
                {% set image_path = cdn_image_path(item.product_image, item.product_image_ext, item.product_image_cdn, 'small') %}
            {% endif %}


            <div class="card-body p-2">
                <div class="d-flex align-items-center small" style="justify-content: end;">

                    {% set output_status =  item.status == 'new' ? 'открыта' : 'завершена' %}
                    {% set output_bg =  item.status == 'new' ? 'bg-primary' : 'bg-secondary' %}

                    <div></div>

                    <div class="fw-bolder m-1 {{ output_bg }} px-1 rounded-1" style="color: #fff;">
                       <span>{{ output_status }}</span>&nbsp;

                        <span>{{ item.productTotalCompleted ? '(' ~ item.productTotalCompleted ~ ')' : '' }}</span>
                    </div>

                    {#                    <div class="w-100 d-flex gap-3 align-items-center"> #}
                    {#                        <div class="h5"> #}
                    {#                            <input id="check-01978bde-7cd3-7c80-977c-18afa854da6d" type="checkbox" #}
                    {#                                               class="form-check-input add-all-to-production btn-outline-danger" #}
                    {#                                               data-formname="manufacture_selection_part_products_form" #}
                    {#                                               data-product="01978bde-7cc4-776d-bc28-4afb423c8df5" #}
                    {#                                               data-offer="01978bde-7cd2-7ded-ac2c-437ba1c39160" #}
                    {#                                               data-variation="01978bde-7cd2-7ded-ac2c-437ba1ee58c0" #}
                    {#                                               data-modification="01978bde-7cd3-7c80-977c-18afa854da6d" data-total="100" #}
                    {#                                               title="Выбрать данный товар"></div> #}
                    {#                        <label for="check-01978bde-7cd3-7c80-977c-18afa854da6d"></label> #}
                    {#                    </div> #}
                    {#                    <div class="text-muted flex-shrink-1"><span class="badge text-bg-secondary">Triangle</span></div> #}
                </div>
            </div>

            <div class="d-flex flex-column small gap-1 p-2 bg-cover lazy col-2 w-100"
                 style=" height: 200px;"
                 data-bg="{{ image_path }}"
            >
            </div>

            <div class="card-body d-flex flex-column p-2 small">
                {#        <a href="{{ path('manufacture-part:admin.products.index', { id: item.id }) }}" #}
                {#           class="fw-bolder mb-1 text-decoration-none product-name"> #}
                {#            {{ item.number }} #}
                {#        </a> &nbsp; #}

                {#                {{ item.id }} #}

                <span class="fw-bolder mb-1 text-dark text-decoration-none product-name">{{ item.productName }}</span>


                <div class="text-muted fw-bolder">
                    {# Значение множественного варианта ТП #}
                    {{ item.productVariationValue|call_twig_func(item.productVariationReference~'_render') ~
                    item.productModificationValue|call_twig_func(item.productModificationReference~'_render') }}

                    {# Значение торгового предложения #}
                    {{ item.productOfferValue|call_twig_func(item.productOfferReference~'_render') }}

                    {# Постфикс торгового предложения #}
                    {{ item.productOfferPostfix }}
                    {# Постфикс множественного варианта #}
                    {{ item.productVariationPostfix }}
                    {# Постфикс модификации #}
                    {{ item.productModificationPostfix }}

                </div>


                <div class="mb-1 mt-2">
                    <span class="opacity-50 fw-normal">Производство:</span> &nbsp;
                    <strong>{{ item.actionName }}</strong>
                </div>
                <div class="mb-1">
                    <span class="opacity-50 fw-normal">Ответственный:</span> &nbsp;
                    <strong> {{ item.usersProfileUsername }}</strong>
                </div>

                <div class="mb-1">
                    <span class="opacity-50 fw-normal">Количество:</span> &nbsp;
                    <strong> {{ item.productTotal }}</strong>
                </div>


                <div class="d-flex justify-content-between align-items-center small">

                    <div class="mb-1">{{ item.productArticle }}</div>


                    {% if is_granted('ROLE_MANUFACTURE_PART_ADD') or  is_granted('ROLE_ADMIN') %}

                        {% if opens %}

                            <span
                                    role="tooltip"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom"
                                    data-bs-delay='{"show":600,"hide":100}'
{#                        title='{{ item.exist_manufacture ? 'Продукция на производстве' : 'Добавить в партию производства' }}' #}
                        title='Добавить в партию производства'
                            >

                        {# Для возможности открытия модвльного окна в script.js через POST добавлены data-атрибуты #}
                                {# data-formname - для хранения отправляемых данных  #}
                                {# data-method - опредеяем метод METHOD для указания в request.open  #}
                        <a href="{{ path('manufacture-part:admin.selected-products.add') }}"

{#                           class="btn btn-sm {{ item.exist_manufacture ? 'btn-secondary' : 'btn-primary' }} modal-link disabled" #}
                           class="btn btn-sm btn-primary modal-link disabled"
                           data-bs-toggle="modal"
                           data-bs-target="#modal"

                           data-method="post"
                           data-formname="{{ add_selected_product_form_name }}"
                           data-product="{{ item.productId }}"
                           data-offer="{{ item.productOfferId }}"
                           data-variation="{{ item.productVariationId }}"
                           data-modification="{{ item.productModificationId }}"
                           data-collection-form="product_form_data"
                           data-total="100"

                           data-post-class="add-one-to-production"

                        >
                           <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                class="bi bi-folder-plus" viewBox="0 0 16 16">
                              <path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2Zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672Z"/>
                              <path d="M13.5 9a.5.5 0 0 1 .5.5V11h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V12h-1.5a.5.5 0 0 1 0-1H13V9.5a.5.5 0 0 1 .5-.5Z"/>
                            </svg>
                        </a>

                    </span>

                        {% endif %}
                    {% endif %}
                </div>


            </div>


        </div>
    </div>
</div>
