{% set identifier = item.event %}

{% if item.product_offer_id %}
    {% set identifier = item.product_offer_id %}
{% endif %}

{% if item.product_variation_id %}
    {% set identifier = item.product_variation_id %}
{% endif %}

{% if item.product_modification_id %}
    {% set identifier = item.product_modification_id %}
{% endif %}


<div id="{{ identifier }}" class="col-2 p-1 {{ item.exist_manufacture ? 'opacity-50' }}">

    <div class="border-bottom border-4 rounded-4 {{ item.exist_manufacture ? 'bg-secondary border-secondary' : 'bg-primary border-primary' }} ">

        <div class="card bg-light-primary rounded-4">

            <div class="card-body small p-2">
                <div class="d-flex align-items-center small">

                    <div class="w-100 d-flex gap-3 align-items-center">

                        {# Чекбокс добавления товара в ПП #}
                        {% if opens and (is_granted('ROLE_MANUFACTURE_PART_ADD') or  is_granted('ROLE_ADMIN')) %}

                            {# Чекбокс для множественного добавления товаров в производственную партию #}
                            <div class="h5">

                                <input
                                        id="check-{{ identifier }}"
                                        type="checkbox"
                                        class="form-check-input add-all-to-production btn-outline-danger"

                                        {# Данные, отправляемые POST #}
                                        data-formname="{{ add_selected_product_form_name }}"
                                        data-product="{{ item.event }}"
                                        data-offer="{{ item.product_offer_id }}"
                                        data-variation="{{ item.product_variation_id }}"
                                        data-modification="{{ item.product_modification_id }}"
                                        data-total="100"

                                        title="{{ item.exist_manufacture ? 'Продукция на производстве' : 'Выбрать данный товар' }}"
                                        {{ item.exist_manufacture ? 'disabled' }}
                                >
                            </div>

                        {% endif %}

                        <label for="check-{{ identifier }}">
                            {{ item.users_profile_username }}
                        </label>

                    </div>

                    <div class="text-muted flex-shrink-1">
                        {% if item.category_name %}
                            <span class="badge text-bg-secondary">{{ item.category_name }}</span>
                        {% else %}
                            <span class="badge text-bg-danger">Без категории</span>
                        {% endif %}
                    </div>
                </div>

            </div>


            {# Обложка  #}
            <div class="d-flex flex-column small gap-1 p-2 bg-cover lazy col-2 w-100"
                 style=" height: 200px;"
                 data-bg="{{ cdn_image_path(item.product_image, item.product_image_ext, item.product_image_cdn) }}"
            >
            </div>

            <div class="card-body d-flex flex-column p-2 small">

                <div class="text-truncate bg-contain"
                     role="tooltip"
                     data-bs-toggle="tooltip"
                     data-bs-placement="top"
                     data-bs-delay='{"show":600,"hide":100}'
                     title="{{ item.product_name }}"
                >
                    <span class="fw-bolder mb-1 text-dark text-decoration-none product-name">
                        {{ item.product_name|capitalize }}
                    </span>

                    <div class="text-muted fw-bolder">

                        {# Значение множественного варианта ТП #}
                        {{ item.product_variation_value|call_twig_func(item.product_variation_reference~'_render') ~
                        item.product_modification_value|call_twig_func(item.product_modification_reference~'_render') }}

                        {# Значение торгового предложения #}
                        {{ item.product_offer_value|call_twig_func(item.product_offer_reference~'_render') }}

                        {# Постфикс торгового предложения #}
                        {{ item.product_offer_postfix }}
                        {# Постфикс множественного варианта #}
                        {{ item.product_variation_postfix }}
                        {# Постфикс модификации #}
                        {{ item.product_modification_postfix }}

                    </div>
                </div>

                <div class="d-flex justify-content-between align-items-center small">

                    <div class="d-flex align-items-center">
                        <form method="post" action='{{ path('manufacture-part:admin.index') }}' class="p-0">
                            <input type="hidden" name="search_form[query]" value="{{ item.product_article }}">

                            <button type="submit" class="btn btn-link text-decoration-none btn-sm p-0 border-0 small">
                                <span class="">{{ item.product_article }}</span>
                            </button>
                        </form>
                    </div>

                    {% if is_granted('ROLE_MANUFACTURE_PART_ADD') or  is_granted('ROLE_ADMIN') %}

                        {% if opens %}

                            <span
                                    role="tooltip"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom"
                                    data-bs-delay='{"show":600,"hide":100}'
                                    title='{{ item.exist_manufacture ? 'Продукция на производстве' : 'Добавить в партию производства' }}'
                            >

                        {# Для возможности открытия модвльного окна в script.js через POST добавлены data-атрибуты #}
                                {# data-formname - для хранения отправляемых данных  #}
                                {# data-method - опредеяем метод METHOD для указания в request.open  #}
                        <a href="{{ path('manufacture-part:admin.selected-products.add') }}"

                           class="btn btn-sm {{ item.exist_manufacture ? 'btn-secondary' : 'btn-primary' }} modal-link disabled"
                           data-bs-toggle="modal"
                           data-bs-target="#modal"

                           data-method="post"
                           data-formname="{{ add_selected_product_form_name }}"
                           data-product="{{ item.event }}"
                           data-offer="{{ item.product_offer_id }}"
                           data-variation="{{ item.product_variation_id }}"
                           data-modification="{{ item.product_modification_id }}"
                           data-collection-form="product_form_data"
                           data-total="100"

                           data-post-class="add-one-to-production"

                        >
                           <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                class="bi bi-folder-plus" viewBox="0 0 16 16">
                              <path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2Zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672Z"/>
                              <path d="M13.5 9a.5.5 0 0 1 .5.5V11h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V12h-1.5a.5.5 0 0 1 0-1H13V9.5a.5.5 0 0 1 .5-.5Z"/>
                            </svg>
                        </a>

                    </span>

                        {% else %}

                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANUFACTURE_PART_NEW') %}
                                <span
                                        role="tooltip"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="bottom"
                                        data-bs-delay='{"show":600,"hide":100}'
                                        title='Открыть производственную партию'
                                >
                                    <a href="{{ path('manufacture-part:admin.newedit.new') }}"
                                       class="btn btn-sm modal-btn modal-link disabled  text-nowrap"
                                       data-bs-toggle="modal"
                                       data-bs-target="#modal"
                                    >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                             fill="currentColor"
                                             class="bi bi-folder-plus" viewBox="0 0 16 16">
                                            <path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2Zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672Z"/>
                                            <path d="M13.5 9a.5.5 0 0 1 .5.5V11h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V12h-1.5a.5.5 0 0 1 0-1H13V9.5a.5.5 0 0 1 .5-.5Z"/>
                                        </svg>

                                    </a>
                                </span>
                            {% endif %}
                        {% endif %}


                    {% endif %}


                </div>

            </div>
        </div>
    </div>

</div>
